.red{
    background-color:red;
    border: none;
    border-radius: 10px;
    width: 100px;
    margin-left: 0px;
    transition: 0.5s;            
}

.red:hover{
    margin-left: 10px;
    background-color:blue; 
    /* box-shadow: 0px 0px 15px -2px; */
}

.container{
    background-color:gray;
    height: 20px;
    overflow: hidden;
    transition: 1s;
}

.container:hover{
    background-color:gray;
    height: 150px;
    overflow: hidden;
}

.item{
    padding-left: 0;
    padding:20px;
    transition: 1s;
}
.item:hover{
    padding-left: 50px;
}

nav{
    background-color: black;
    color: white;
    height: 30px;       
}

nav>span{
    padding: 10px;
    transition: 1s;
}

nav>span:hover{
    background-color: rgba(171, 5, 5, 0.586);
    box-shadow: 0 0 10px -5px;
}