
/* for navbar */
button {
    width: 80px;
    height: 40px;
    margin: 5px;
    border: 1px black solid;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.black-button {
    background: black;
    color: white;

}

.black-button:hover, .orange-button:hover {
    background: rgb(252, 215, 146);
    color: black;
}

.orange-button {
    background: orange;
    color: black;
}

/* for rating */
.rating {
    font-size: 50px;
    padding: 15px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

.purple-star {
    color: #9465c9;
}

.gray-star {
    color: gray;
    transition: .3s;
}

.gray-star:hover, .purple-star:hover {
    color: #a48bc0;
}